h2 {
	font-family: Alfa Slab One;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	Text-shadow: 3px 1.5px 5px black;
	text-decoration: underline;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 100px;
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	border-radius: 75px;
}

div {
	Width: 1400px;
}

li {
	display:inline;
	float:left;
	width:350px;
}
			
a {
	display: block;
	padding: 10px;
	background-color: white;
}
			
ul {
	overflow: hidden;
	list-style-type: none;
	padding:0;
	margin:0;
}
			
li a {
	display:block;
	color:white;
	text-align:center;
	padding: 15px;
	text-decoration: none;
}
			
li a:hover {
	background-color: #fd6666;
	-webkit-text-stroke-color: white;
	color: red;
}
			
.current {
	background-color: #fd0101;
    -webkit-text-stroke-color: white;
	color: red;
	font-size: 25px;
	border-radius: 100px 100px 100px 100px;
}
			
.current:hover {
	background-color: #fd6666;
}

body {
	background-image: url(images/back.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}
a {
	font-family: Alfa Slab One;
	-webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: red; 
	font-size: 20px;
}

.left {
	border-radius: 0px 100px 100px 100px;
}

.center {
	border-radius: 100px 100px 100px 100px;
}

.right {
	border-radius: 100px 0px 100px 100px;
}

.bloxy {
	filter: opacity(90%) brightness(150%) drop-shadow(0px 0px 50px black) blur(1px);
	margin-left: 25px;
	border-radius: 500px;
	padding: 50px;
}

.bloxy:hover {
	filter: opacity(100%) brightness(100%) blur(0px) drop-shadow(0px 0px 50px white);
	animation: shake 0.5s;
	animation-iteration-count: 1.5;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

p {
	font-family: Gloria Hallelujah;
	padding:0px;
	float: center;
	text-shadow: 2px 2px 3px black, -2px -2px 3px black;
}

.overview {
	margin-right: 50px;
	margin-left:50px;
	color:white;
	padding: 50px;
	background-color: rgb(250,250,250, 0.1);
	width: 1200px;
}
