h2 {
	font-family: Alfa Slab One;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	Text-shadow: 3px 1.5px 5px black;
	text-decoration: underline;
	font-size:30px;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 100px;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
	border-radius: 25px;
	margin-top: 10px;
	margin-bottom: 15px;
	filter: drop-shadow(1px 1px 50px white);
}

li {
	display:inline;
	float:left;
	width:350px;
}
			
a {
	display: block;
	padding: 10px;
	background-color: white;
}
			
ul {
	overflow: hidden;
	list-style-type: none;
	padding:0;
	margin:0;
}
			
li a {
	display:block;
	color:white;
	text-align:center;
	padding: 15px;
	text-decoration: none;
	margin-top: 20px;
	margin-left:20px;
}
			
li a:hover {
	background-color: #fd6666;
	-webkit-text-stroke-color: white;
	color: red;
}
			
.current {
	background-color: #fd0101;
    -webkit-text-stroke-color: white;
	color: red;
	font-size: 25px;
	border-radius: 100px 100px 100px 100px;
}

.nd {
	margin-left: 500px;
}
	
.current:hover {
	background-color: #fd6666;
}

body {
	background-image: url(images/back.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

a {
	font-family: Alfa Slab One;
	-webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: red; 
	font-size: 20px;
}

.left {
	border-radius: 0px 100px 100px 100px;
}

.center {
	border-radius: 100px 100px 100px 100px;
}

.right {
	border-radius: 100px 0px 100px 100px;
}

.bloxy {
	filter: opacity(90%) brightness(150%) drop-shadow(0px 0px 50px black) blur(1px);
	padding-left: 0px;
	border-radius: 500px;
	padding: 50px;
	padding-top: 80px;
}

.bloxy:hover {
	filter: opacity(100%) brightness(100%) blur(0px) drop-shadow(0px 0px 50px white);
	animation: shake 0.5s;
	animation-iteration-count: 1.5;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

p {
	font-family: Chakra Petch, sans-serif;
	padding:0px;
	float: center;
	text-shadow: 2px 2px 3px black, -2px -2px 3px red;
	Color: white;
	font-size: 18px;
	word-spacing: 2px;
	letter-spacing:1px;
}

.overview {
	margin-right: 50px;
	margin-left:80px;
	color:white;
	padding: 50px;
	background-color: rgb(250,250,250,0.01);
	width: 1200px;
	transform: translateX (0px);
}

.gameplay {
	margin-right: 50px;
	margin-left:80px;
	color:white;
	padding: 50px;
	background-color: rgb(0,0,0,0.1);
	width: 1200px;
	transform: translateX(0px);
	position: relative;
}

h3 {
	font-family: Alfa Slab One;
	margin-right: 500px;
	text-align: center;
	color: red;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	Text-shadow: 3px 1.5px 5px nlack;
	text-decoration: underline;
	font-size: 25px;
}

h3:hover {
	animation: shake 1s;
	animation-iteration-count: 1;
}
h2:hover {
	animation: shake 1s;
	animation-iteration-count: 1;
}

.bux {
	margin-right: 0px;
	margin-left: 25px;
	filter: opacity(0.8);
	transform: .5s;
}

.bux:hover {
	filter: opacity(1);
	transform: scale(1.15);
}

.logo:hover {
	-webkit-animation: fadeoutin 2s linear forwards;
    animation: fadeoutin 2s linear forwards;
}

@-webkit-keyframes fadeoutin {
  100%,0% { opacity: 100; }
  50% { opacity: 0; }
}

@keyframes fadeoutin {
  100%,0% { opacity: 100; }
  50% { opacity: 0; }
}

.vid {
	padding: 25px;
	padding-top:0px;
	padding-bottom: 25px;
}

.menu {
	display:box;
	padding:15px;
	padding-left: 35px;
	padding-right:10px;
	filter: drop-shadow(0px 0px 50px grey) contrast(0.5);
	border-radius: 50px;
	transition: transform .5s;
}

.menu:hover {
	filter: drop-shadow(0px 0px 50px white) contrast(1) brightness(1.5);
	border-radius: 75px;
	transform: scale(1.15);
}

.overlay {
	width: 1500px;
	height: 1250px;
	background-color: rgba(0, 0, 0, 0.5);
	transform: translateY(-10px) translateX(-10px);
	
}

.acc {
	width:50%;
	height:50%;
	padding-left:30px;
	margin-right: 20px;
	padding-bottom: 40px;
	padding-top: 40px;
	transform: translateY(20px);
}

.oned {
	font-size: 20px;
	padding-left:50px;
	transform: translateY(20px);
	width: 250px;
	padding-top: 20px;
	text-shadow: 5px 5px 10px red , -5px -5px 10px red;
	color: white;
}

.oned:hover {
	transform: translateY(20px) translateX(10px);
}

.one {
	font-size: 20px;
	padding-left:50px;
	transform: translateY(20px);
	width: 180px;
	padding-top: 20px;
	text-shadow: 5px 5px 10px red , -5px -5px 10px red;
	color: white;
}

.one:hover {
	transform: translateY(20px) translateX(10px);
}

.rec {
	padding-top: 30px;
	transform: translateY(30px);
}

.rec:hover {
	transform: translateY(30px);
	animation: none;
	animation-iteration-count: 1;
}

.onedesc {
	font-size: 18px;
	padding-left: 35px;
	text-indent: 10px;
	transform: translateY(35px);
}

.loom {
	display:box;
	width:300px;
	height:200px;
	padding-right: 30px;
	padding-top:20px;
	padding-bottom:30px;
	padding-left:20px;
	margin: 0 auto;
	filter: drop-shadow(0px 0px 20px white);
	transition: transform .5s;
}

.loom:hover {
	filter: drop-shadow(0px 0px 20px white);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.045); 
}

.kk {
	width:640px;
	height: 500px;
	float:right;
	transform: translateY(-25px);
	padding-right:5px;
}



